*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/androidTest/java/com/yallawain/yallawain/
/app/src/test/java/com/yallawain/yallawain/
/.idea/dictionaries/mahmoudalyudeen.xml
.idea/modules.xml
.idea/runConfigurations.xml
app/libs/
app/src/androidTest/
app/src/main/res/drawable/
app/src/test/
/gradle/
!/app/src/main/res/drawable/
/.idea/
